@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Oregano&family=Warnes&display=swap');   


h1 {
    text-align: center;
    color: green;
    font-family: 'Oregano', cursive;
}